body{
    margin: 0px;
    padding: 0px;
    border: none;
    overflow: hidden;
    user-select: none;
}
nav{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
}
nav .logo span:nth-child(1){
    color: #186BE8;
}
nav .logo span:nth-child(2){
    color: #D54D3A;
}
nav .logo span:nth-child(3){
    color: #F7B609;
}
nav .logo span:nth-child(4){
    color: #186BE8;
}
nav .logo span:nth-child(5){
    color: #039958;
}
nav .logo span:nth-child(6){
    color: #D54D3A;
}
.container{
    width: 100vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}
.container input{
    all: unset;
    width: 60%;
    height: 40px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px black;
    font-size: 20px;
    padding-left: 20px;
}
.container input::placeholder{
    font-size: 20px;
    color: gray;
    padding-left: 10px;
}
.container button{
    all: unset;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid rgba(128, 128, 128, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}
.container button span:nth-child(1){
    color: #186BE8;
}
.container button span:nth-child(2){
    color: #D54D3A;
}
.container button span:nth-child(3){
    color: #F7B609;
}
.container button span:nth-child(4){
    color: #186BE8;
}
.container button span:nth-child(5){
    color: #039958;
}
.container button span:nth-child(6){
    color: #D54D3A;
}

@media screen and (max-width : 480px) {
    nav{
        font-size: 4em;
    }
}